
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: border-box;
}

.navbar {
    height: 85px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name{
    font-size: 1.5rem;
    margin-right: 400px;
}

.name:hover{
    cursor: default;
}

.links {
    font-family: 'Playfair Display', serif;
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(161, 154, 154);
    text-decoration: underline;
    text-underline-offset: 0.7rem;
}

html {
    scroll-behavior: smooth;
}

 #about {
    padding-top: 4vh;
    height: 96vh;
    margin: auto;
    box-sizing: border-box;
    min-height: fit-content;
    display: flex;
    background-color: #0c1821;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 89vh;
    padding-left: 10rem;
    padding-right: 10rem;
 }

 .image {
    display: flex;
    margin: auto 0;
 }

 .abImg {
    height: 400px;
    width: 400px;
    border: 5px solid black;
    object-fit: cover;
    border-radius: 50%;
 }

.aboutText {
    align-self: center;
    text-align: left;
    height: 40vh;
}

.title {
    font-size: 3rem;
}

.d1 {
    margin-bottom: 0.3rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    margin-top: 3vh;
    font-weight: 600;
    padding: 1rem;
    border-radius: 2rem;
    height: 3.5rem;
    width: 7rem;
    background-color: rgb(224, 224, 227);
    border: rgb(1, 1, 12) 0.3rem solid;
}

button:hover {
    cursor: pointer;
    background: rgb(60, 57, 76);
    color: white;
}

/* skills section */

.exp {
    font-weight: 600;
    font-size: 1.75rem;
    padding-top: 7vh;
    text-align: center;
    padding-bottom: 5vh;
}

#skills {
    position: relative;
    background-color: black;
    color: white;
    padding-bottom: 5vh;
}

.subTitle {
    margin-top: -3rem;
    margin-bottom: 8.5rem;
    text-decoration: underline;
    text-underline-offset: 0.7rem;
}

.detailSec {
    padding: 5.5rem;
    flex: 1;
    background: #090e1b;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    margin-bottom: 5rem;
    height: 300px;
    width: 400px;
}

.aboutSec {
    gap: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skillsSec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: space-around;
    margin-top: -2rem;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
}

article .icon {
    cursor: default;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

/* projects */

#projects {
    background-color: #090e1b;
    color: white;
    padding-bottom: 5vh;
}

.articleSec {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
  }

  .projTitle {
    margin: 1rem;
    color: white;
  }

  .projImg {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
    border: 3px solid white;
  } 

  .detSec {
    padding: 1.5rem;
    flex: 1;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    background-color: black;
  }

  .projSec {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .aboutProj {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    padding-left:30px;
    padding-right: 30px;
    background-color: #090e1b;
}

.adjust {
    height: 37vh;
}

/* contact section */

#contact {
    background-color: black;
    color: white;
    padding-bottom: 5vh;
}

.info {
    margin-left: 15rem;
    font-size: 1.8rem;
    margin-top: 5rem;
}

.socials a{
    margin-top: 5vh;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    margin-right: 10px;
}

.userInfo form{
    margin-left: 50%;
    margin-top: -8.5rem;
}

form input, form textarea{
    width: 85%;
    border: 0;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    background: #25252c;
    border-radius: 7px;
    color: white;
}

form textarea {
    height: 10rem;
}

.btnsub {
    margin-bottom: 4rem;
}

/* footer */

.footernav {
    background-color: #0c1821;
    color: white;
    padding: 10px;
}

.solinks a{
    font-size: 30px;
}

.foot1 {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.foot2{
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}

.footText {
    display: flex;
    justify-content: center;
}

